/*
	style.css
	Colours
	**********

	black:		#000000
	Dark grayy:	#222222
	gray:		#333333
	light gray:	#eeeeee
	light blue: #00c0ff
	dark blue:	#0090bf

*/

html{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
}

body{
	font-family:"Helvetica Neue", Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
	color:#444444;
}


h1,h2,h3 {
	font-weight:300;
	margin:0;
	line-height:45px;
}

h4,h5,h6{
	font-weight:bold;
	margin:5px 0 5px 0;
}

h1{
	font-size:48px;
}

h2{
	font-size:24px;
}

h3{
	font-size:30px;
}

h4{
	font-size:18px;
	margin:10px 0;
}

h5{
	font-size:13px;
	margin:0;
	text-transform:uppercase;
}

p{
	margin:0 0 10px 0;
}

p.lead{
	font-size:18px;
	font-weight:300;
	line-height:24px;
}






.container{
	width:940px;
	padding:0 10px;
	margin:0 auto;
}

header{
	background:#000;
}


#logo{
	display:block;
	padding:15px 0 0 0;
	float:left;
}


#hero{
	background:#00c0ff;
	color:#000;
	}


#hero-title{
	width:400px;
	padding:60px 0;
	float:left;
}

#hero-title h1{
	font-size:50px;
}

#call-to-action{
	margin:40px 0;
}


#hero-image{
	float:right;
	margin:10px 0 -30px 0;
}

#lead-in{
	margin-bottom:30px;
}


#content{
	padding:100px 0;
}

#column-content{
	width:700px;
	float:left;
}




aside{
	background:#444;
	width:160px;
	color:#fff;
	float:right;
	padding:30px;
	font-size:12px;
	line-height:18px;
}

aside .widget{
	margin:10px 0;
}

aside .widget:nth-child(2){
	margin-top:40px;
}

aside .widget h4{
	font-weight:200;
	font-size:20px;
	margin:0 0 10px;
}

aside .socials a{
	position:relative;
	margin-right:5px;
}

aside .socials a:hover{
	top:-2px;
}





#secondary-cta{
	background:#eee;
	padding:30px 0;
}

#secondary-cta h4{
	font-weight:200;
	font-size:24px;
	float:left;
}

#secondary-cta form{
	margin:0;
	float:right;
}


footer{
	background:#444;
	color:#fff;
	padding:50px 0;
}

footer #copyright{
	width: 260px;
	float:left;
}

footer nav{
	width:340px;
	float:right;
}

footer a{
	color:#fff;
	text-decoration: none;
	margin:0 0 0 15px;
}
footer a:hover{
	color:#00c0ff;
}






nav ul{
	margin:0;
	padding:0;
	float:right;
}

nav ul li{
	list-style:none;
	float:left;
}

header nav ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	padding:20px;
	border-left:solid 1px #333;
}

header nav a:hover{
	color:#00c0ff;
}









.btn{
	width:auto;
	background:#0090bf;
	border:1px solid #1e728c;
	color:#fff;
	cursor:pointer;
	display:inline-block;

	zoom:1;
	*display:inline;

	margin:0;
	outline:none;
	padding:10px 10px 10px 10px;
	position:relative;
	text-align:center;
	text-decoration:none;

	-webkit-box-shadow:0 1px rgba(225,225,225,0.5)inset;
	   -moz-box-shadow:0 1px 0 rgba(225,225,225,0.5)inset;
		    box-shadow:0 1px 0 rgba(225,225,225,0.5)inset;

	-webkit-transition:background-color 0.15s ease-in-out;
	-moz-transition:background-color 0.15s ease-in-out;
	-o-transition:background-color 0.15s ease-in-out;

}


.btn:hover{
	color:#fff;
	background-color:#0086b2;
}

.btn:active{
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2)inset;
	   -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2)inset;
	        box-shadow:0 1px 0 rgba(0,0,0,0.2)inset;
			color:white;
}




input{
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
}

input[type="text"], input[type="email"]{
	position:relative;
	padding:10px 10px 11px;
	border:solid 1px #ccc;
	width:220px;
	margin:0 -10 0 0;
}


.column{
	float:left;
	margin:20px;
}

.four{
	width:200px;
}

.last{
	margin-right:0px;
}


.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}
